.facts {
  display: none;
  align-items: center;
  padding-top: 54px;
  padding-bottom: 62px;
  font-family: "Open Sans", "Arial", sans-serif;

  @include tablets {
    display: block;
  }

  @include desktop {
    background-color: $grey;
    padding-top: 30px;
    padding-bottom: 61px;
  }
}

.facts__wrapper {
  display: flex;
}

.facts__img {
  @include tablets {
    margin-left: 20px;
  }

  @include desktop {
    margin-left: 0;
    width: 298px;
    height: 345px;
  }
}

.facts__text {
  @include tablets {
    margin-left: 72px;
    margin-top: 18px;
    max-width: 308px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }

  @include desktop {
    max-width: none;
    width: 534px;
    font-size: 18px;
    line-height: 30px;
    padding-top: 53px;
  }
}

.facts__title {
  @include tablets {
    font-size: 30px;
    line-height: 36px;
    color: $black;
    max-width: 168px;
    margin-bottom: 0;
  }

  @include desktop {
    max-width: 298px;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
  }
}

.facts__title br {
  @include tablets {
    display: inline;
  }

  @include desktop {
    display: none;
  }
}

.facts__space {
  display: none;

  @include desktop {
    display: inline;
  }
}

.facts__br-tablet {
  @include desktop {
    display: none;
  }
}

.facts__space-tablet {
  display: none;

  @include tablets {
    display: inline;
  }

  @include desktop {
    display: none;
  }
}

.facts__br-desktop {
  display: none;

  @include desktop {
    display: inline;
  }
}

.facts__decsription {
  color: $extra-light-black;

  @include tablets {
    margin-top: 10px;
    margin-bottom: 9px;
  }

  @include desktop {
    margin-top: 26px;
    margin-bottom: 30px;
  }
}

.facts__link {
  font-size: 14px;
  line-height: 24px;
  color: $pink;

  @include desktop {
    font-size: 18px;
    line-height: 30px;
  }
}
