.social-band {
  list-style: none;
  color: $extra-light-black;
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;

  @include tablets {
    width: 620px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 auto;
  }

  @include desktop {
    width: 940px;
  }
}

.social-band__img {
  display: block;
  width: 100%;
}

.social-band__item {
  text-align: center;

  @include tablets {
    max-width: 300px;
    margin-right: 20px;
  }

  @include desktop {
    margin-bottom: 36px;
  }
}

.social-band__item:nth-of-type(2n) {
  @include tablets {
    margin-right: 0;
  }

  @include desktop {
    margin-right: 20px;
  }
}

.social-band__item:nth-of-type(3n) {
  @include desktop {
    margin-right: 0;
  }
}


.social-band__post-wrapper {
  background-color: $grey;
  text-align: left;
  padding-left: 17px;
  padding-bottom: 19px;
  padding-top: 17px;
  padding-right: 10px;
  margin-bottom: 19px;
  color: $extra-light-black;

  @include tablets {
    min-height: 155px;
    padding-left: 30px;
    padding-top: 23px;
    padding-right: 30px;
  }

  @include desktop {
    padding-left: 28px;
  }
}

.social-band__icon-heart {
  fill: $pink;
}

.social-band__author {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  margin-bottom: 14px;
}

.social-band__post-time {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
}

.social-band__post-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 12px;

  @include tablets {
    min-height: 48px;
  }
}

.social-band__post-text br {
  @include tablets {
    display: none;
  }
}

.social-band__like-counter {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $pink;

  @include tablets {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.social-band__like-text {
  margin-left: 15px;

  @include tablets {
    order: -1;
    margin-left: 0;
  }
}

.social-band__space-tablet {
  display: none;

  @include tablets {
    display: inline;
  }

  @include desktop {
    display: none;
  }
}
