.advantages {
  background-color: $grey;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $extra-light-black;
  text-align: center;
  overflow: hidden;
  padding-top: 38px;

  @include tablets {
    text-align: left;
    padding-top: 0;
    padding-bottom: 42px;
    overflow: visible;
  }

  @include desktop {
    text-align: center;
    padding-bottom: 0;
  }
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  @include tablets {
    order: 2;
    margin-top: 57px;
    margin-left: 330px;
  }

  @include desktop {
    display: flex;
    max-width: inherit;
    margin-top: 0;
    margin-left: 0;
    padding-top: 11px;
    padding-left: 0;
    // padding-right: 24px;
  }
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  @include tablets {
    flex-direction: row;
  }

  @include desktop {
    flex-direction: column;
    justify-content: start;
  }
}

.advantages__img {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 40px;

  @include tablets {
    position: absolute;
    margin: 0;
    width: 268px;
    height: 481px;
    top: -13px;
    left: 22px;
  }

  @include desktop {
    display: none;
  }
}

.advantages__item {
  width: 280px;
  margin-bottom: 32px;

  &:nth-of-type(2) {
    margin-bottom: 29px;

    @include tablets {
      margin-bottom: 34px;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  @include tablets {
    width: 310px;
  }

  @include desktop {
    width: 272px;
    font-size: 18px;
    line-height: 30px;
    margin-left: 49px;
    padding-left: 17px;
    padding-right: 17px;
  }

  &:first-of-type {
    @include desktop {
      margin-left: 12px;
    }
  }
}

.advantages__item br {
  display: none;

  @include tablets {
    display: inline;
  }

  @include desktop {
    display: none;
  }
}

.advantages__item:first-of-type::before {
  @include desktop {
    content: url("../img/iphone-screen-1-desktop@1x.png");
    position: relative;
    top: 0;
    left: -25px;
    display: block;
    margin-bottom: 45px;

    @include retina {
      content: "";
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
      background-repeat: no-repeat;
      background-size: 292px;
      width: 312px;
      height: 307px;
      top: -4px;
      left: -26px;
    }
  }
}

.advantages__item:nth-of-type(2)::before {
  @include desktop {
    content: url("../img/iphone-screen-2-desktop@1x.png");
    position: relative;
    top: 0;
    left: -20px;
    display: block;
    margin-bottom: 45px;

    @include retina {
      content: "";
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
      background-repeat: no-repeat;
      background-size: 292px;
      width: 312px;
      height: 307px;
      top: -4px;
      left: -26px;
    }
  }
}


.advantages__item:nth-of-type(3)::before {
  @include desktop {
    content: url("../img/iphone-screen-3-desktop@1x.png");
    position: relative;
    top: 0;
    left: -20px;
    display: block;
    margin-bottom: 45px;

    @include retina {
      content: "";
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
      background-repeat: no-repeat;
      background-size: 292px;
      width: 312px;
      height: 307px;
      top: -4px;
      left: -26px;
    }
  }
}

.advantages__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: $black;
  margin-top: 0;
  margin-bottom: 13px;

  @include tablets {
    margin-bottom: 13px;
  }

  @include desktop {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    color: $black;
    margin-bottom: 23px;
  }
}
