.competition {
  font-family: "Open Sans", "Arial", sans-serif;
  color: $extra-light-black;
}

.competition__title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  padding-top: 31px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: $extra-light-black;

  @include tablets {
    max-width: 600px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 73px;
  }

  @include desktop {
    max-width: 844px;
  }
}

.form__section {
  border: none;
  padding-left: 20px;
  padding-right: 20px;

  &:nth-of-type(2),
  &:nth-of-type(4) {
    background-color: $grey;

    @include tablets {
      background: none;
    }
  }
}

.comptition__request {
  display: none;

  @include tablets {
    display: inline;
  }
}

.form {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
  }
}

.form_no-padding-modile {
  padding-left: 0;
  padding-right: 0;
}

.form__section_name {
  padding-bottom: 25px;

  @include tablets {
    padding-top: 29px;
    order: 0;
    padding-bottom: 18px;
  }

  @include desktop {
    padding-top: 42px;
    padding-left: 0;
    padding-right: 0;
    width: 433px;
    padding-bottom: 17px;
  }
}

.form__section_name br {
  @include tablets {
    display: none;
  }
}

.form__section_checkbox {
  padding-top: 19px;

  @include tablets {
    order: 3;
    border: 2px solid $light-grey;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 68px;
    position: relative;
  }

  @include desktop {
    width: 100%;
    margin: 0;
    margin-top: 65px;
  }
}

.form__field {
  @include tablets {
    display: flex;
    align-items: baseline;
  }
}

.form__field-title {
  text-transform: uppercase;
  color: $pink;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  padding-left: 24px;

  @include tablets {
    padding-left: 0;
    margin-right: 18px;
  }
}

.form__field-title br {
  @include tablets {
    display: none;
  }
}

.form__field-title_checkbox {
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 42px;

  @include tablets {
    position: absolute;
    top: -28px;
    left: 88px;
    width: 436px;
    background-color: $white;
  }

  @include desktop {
    left: 250px;
  }
}

.form__field-text {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 19px;
  padding-right: 19px;
  width: 100%;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  margin-bottom: 16px;
  margin-top: 5px;
  border: 2px solid $light-grey;
  border-radius: 1px;

  @include tablets {
    margin-bottom: 46px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.form__advance-list {
  list-style: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 47px;

  @include tablets {
    padding-top: 37px;
    padding-left: 55px;
    padding-bottom: 53px;
  }

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 9px;
  }
}

.form__title {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  max-width: 244px;
  padding-top: 20px;

  @include tablets {
    max-width: 436px;
  }
}

.form__advance-item {
  margin-bottom: 52px;
  position: relative;

  &:last-of-type {
    margin-bottom: 0;
  }
}

@include desktop {
  .form__advance-item:first-of-type {
    order: 0;
    margin-right: 73px;
  }

  .form__advance-item:nth-of-type(2) {
    order: 3;
    margin-right: 113px;
  }

  .form__advance-item:nth-of-type(3) {
    order: 1;
    margin-right: 72px;
  }

  .form__advance-item:nth-of-type(4) {
    order: 4;
    margin-right: 80px;
  }

  .form__advance-item:nth-of-type(5) {
    order: 2;
  }

  .form__advance-item:nth-of-type(6) {
    order: 5;

    & .form__advance-text {
      margin-left: 42px;
    }
  }
}

.form__advance-text {
  font-size: 18px;
  line-height: 30px;
  margin-left: 39px;
  cursor: pointer;

  @include desktop {
    margin-left: 43px;
  }
}

.form__checkbox + .form__advance-text::before {
  content: "";
  background-image: url("../img/checkbox_off.svg");
  position: absolute;
  width: 39px;
  height: 39px;
  left: -19px;
  top: -3px;
}

.form__checkbox:checked + .form__advance-text::before {
  background-image: url("../img/checkbox_on.svg");
}

.form__section_contacts {
  padding-bottom: 25px;

  @include tablets {
    order: 2;
    border: 2px solid $light-grey;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 65px;
    position: relative;
  }

  @include desktop {
    width: 100%;
    margin: 0;
    padding-bottom: 12px;
  }
}

.form_contacts-title {
  display: none;

  @include tablets {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    color: $pink;
    font-weight: normal;
    position: absolute;
    top: -25px;
    left: 187px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $white;
  }

  @include desktop {
    left: 339px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

.form__contacts-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 32px;

  @include tablets {
    margin-top: 40px;
    padding: 0 37px;
  }

  @include desktop {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.form__contacts-item {
  @include tablets {
    display: flex;
    flex-direction: column-reverse;

    &:first-of-type {
      margin-bottom: 24px;

      @include desktop {
        margin-bottom: 0;
      }
    }

    &:first-of-type .form_field-contacts {
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: 435px -1px;

      @include desktop {
        background-position: 315px -1px;
      }
    }

    &:nth-of-type(2) .form_field-contacts {
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-position: 435px -1px;

      @include desktop {
        background-position: 315px -1px;
      }
    }
  }

  @include desktop {
    width: 377px;
  }
}

.form_field-contacts {
  @include tablets {
    margin-bottom: 9px;
  }
}

.form_title-margin {
  @include tablets {
    margin-left: 18px;
  }

  @include desktop {
    margin-left: 20px;
  }
}

.form__section_versions {
  padding-top: 20px;
  padding-bottom: 48px;

  @include tablets {
    order: 1;
    width: 616px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid $light-grey;
    padding-bottom: 61px;
  }

  @include desktop {
    width: 434px;
    margin: 0;
    margin-top: 39px;
    padding-bottom: 0;
    min-height: 301px;
  }
}

.form__versions-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__versions-item {
  margin-top: 37px;
  margin-bottom: 0;

  &:nth-last-of-type(2) {
    margin-top: 46px;
  }

  &:last-of-type {
    margin-top: 43px;

    @include desktop {
      margin-top: 47px;
    }
  }

  @include tablets {
    margin-top: -2px;
  }
}

.form__radio-text {
  color: $extra-light-black;
  font-size: 18px;
  line-height: 30px;
  text-transform: none;
  margin-left: 70px;
  position: relative;

  @include tablets {
    margin-left: 97px;
  }

  @include desktop {
    margin-left: 112px;
  }
}

.form__field-radio + .form__radio-text::before {
  content: "";
  background-image: url("../img/radio-off.svg");
  position: absolute;
  width: 39px;
  height: 39px;
  left: -70px;
  top: -6px;

  @include tablets {
    left: -61px;
    width: 41px;
    height: 41px;
  }
}

.form__field-radio:checked + .form__radio-text::before {
  background-image: url("../img/radio-on.svg");
}

.form__section_story {
  padding-top: 20px;

  @include tablets {
    order: 4;
    border: 2px solid $light-grey;
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 65px;
    padding-left: 57px;
    padding-right: 56px;
    padding-top: 10px;
    padding-bottom: 44px;
  }

  @include desktop {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-top: 4px;
    padding-bottom: 38px;
  }
}

.form__story-text {
  width: 100%;
  height: 201px;
  border: 2px solid $light-grey;
  border-radius: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-top: 14px;
  padding-top: 12px;

  @include tablets {
    margin-top: 0;
    height: 192px;
  }

  @include desktop {
    height: 127px;
  }
}

.form_down {
  order: 5;
  display: flex;
  flex-direction: column;

  @include tablets {
    flex-direction: row;
    align-items: baseline;
    padding-bottom: 49px;
  }

  @include desktop {
    width: 100%;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 0;
  }
}

.form_button {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  background-color: $green;
  border-radius: 1px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 45px;
  padding-right: 45px;

  @include tablets {
    margin-top: 63px;
    margin-left: 18px;
    margin-right: 0;
    width: 303px;
  }

  @include desktop {
    margin-left: -1px;
  }
}

.from__notation {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 34px;

  @include tablets {
    max-width: none;
    width: initial;
    margin: 0;
    margin-left: 137px;
  }

  @include desktop {
    margin-top: 82px;
  }
}

.form__star {
  color: $pink;
}

.form__title_center {
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;

  @include tablets {
    position: relative;
    max-width: 370px;
    top: -49px;
    background-color: $white;
  }
}

.form__field-title-story {
  @include tablets {
    max-width: 260px;
    top: -37px;
  }

  @include tablets {
    top: -34px;
  }
}

.form_desctop-notation-text {
  display: none;

  @include desktop {
    display: inline;
  }
}
