@import "./variables.scss";

.contacts {
  font-family: "Open Sans", "Arial", sans-serif;
}

.contacts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  padding-top: 47px;
  margin: 0;
  margin-bottom: 45px;
}

.contacts__text {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: $extra-light-black;
  text-align: center;
  margin-bottom: 31px;
}

.contacts__link {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $pink;
  text-decoration: none;
}

.contacts__map {
  background-image: url("../img/bg-map-mobile@1x.png");
  min-height: 200px;
}
