@import "./colors.scss";

.description {
  padding-top: 28px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 38px;
  background-color: $light-black;
  color: $white;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.description__os-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description__download {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $white;
  text-decoration: none;
}
