.description {
  padding-top: 23px;
  color: $white;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  background-image: url("../img/iphone-hand-mobile@1x.png");

  @include retina {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 257px auto;
  }
  background-repeat: no-repeat;
  background-position: 2px 110px;
  padding-left: 0;
  padding-right: 0;

  @include tablets {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 92px;
    padding-bottom: 116px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: bottom;

    @include retina {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 703px auto;
    }
  }

  @include desktop {
    background-image: url("../img/iphone-hand-desktop@1x.png");

    @include retina {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1049px auto;
    }
    background-position: 15px bottom;
    padding-top: 130px;
    padding-bottom: 124px;
    padding-left: 0;
    padding-right: 0;
  }
}

.description__header {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  margin: 0 auto;
  padding-bottom: 316px;
  max-width: 280px;

  @include tablets {
    padding-bottom: 0;
    max-width: 247px;
    font-size: 40px;
    margin: 0;
    margin-left: 27px;
    margin-bottom: 31px;
  }

  @include desktop {
    font-size: 50px;
    line-height: 68px;
    margin-bottom: 36px;
  }
}

.description__wrapper {
  background-color: $light-black;
  padding-top: 28px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 31px;

  @include tablets {
    background: none;
    padding: 0;
    max-width: 300px;
  }
}

.description__download {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $white;
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 31px;
  width: 280px;

  @include tablets {
    width: 300px;
    margin-bottom: 43px;
  }

  @include desktop {
    margin-bottom: 67px;
    width: 300px;
    font-size: 21px;
  }
}

.description__os-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 205px;
  align-items: center;
  padding: 0;
  margin-bottom: 13px;
  margin-left: auto;
  margin-right: auto;

  @include tablets {
    margin-bottom: 24px;
  }

  @include desktop {
    margin-bottom: 44px;
    width: auto;
    justify-content: start;
  }
}

.description__os-item {
  margin-right: 20px;

  @include desktop {
    margin-left: 45px;
    margin-right: 0;
  }

  &:nth-last-of-type(2) {
    margin-top: 2px;

    @include desktop {
      margin-left: 34px;
    }
  }

  &:last-of-type {
    margin-top: 7px;
    margin-right: 0;

    @include desktop {
      margin-left: 37px;
    }
  }
}

.description__text {
  color: $white;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0;

  @include tablets {
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
  }
}

.description_page-foto {
  background: none;
  padding-top: 29px;

  @include tablets {
    padding-top: 66px;
    padding-bottom: 130px;
  }

  @include desktop {
    padding-top: 88px;
    padding-bottom: 90px;
  }
}

.description__header_page-from {
  font-size: 24px;
  line-height: 33px;
  padding-bottom: 75px;

  @include tablets {
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    font-size: 50px;
    line-height: 68px;
    max-width: 358px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  @include desktop {
    text-align: center;
  }
}

.description__header_form-page {
  @include tablets {
    max-width: 620px;
  }

  @include desktop {
    max-width: 747px;
  }
}

.description_page-form {
  background: none;

  @include tablets {
    padding-top: 62px;
    padding-bottom: 0;
  }

  @include desktop {
    padding-top: 86px;
  }
}

.description__header_padding-form-page {
  padding-top: 3px;
  padding-bottom: 44px;
  font-size: 24px;
  line-height: 33px;

  @include tablets {
    font-size: 50px;
    line-height: 68px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 28px;
  }

  @include desktop {
    max-width: 750px;
    padding-bottom: 55px;
  }
}
