.facts {
  display: none;
  align-items: center;
  padding-top: 54px;
  padding-bottom: 109px;

  @include tablets {
    display: block;
  }

  @include desktop {
    background-color: $grey;
    padding-top: 0;
  }
}

.facts__wrapper {
  display: flex;
  justify-content: space-around;
}

.facts__text {
  margin-left: 72px;
  max-width: 310px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  @include desktop {
    max-width: 525px;
    font-size: 18px;
    line-height: 30px;
  }
}

.facts__title {
  font-size: 30px;
  line-height: 36px;
  color: $black;
  width: 168px;

  @include desktop {
    max-width: 298px;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
  }
}

.facts__link {
  font-size: 14px;
  line-height: 24px;
  color: $pink;
}
