@import "./colors.scss";

.header {
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  outline:  2px solid rebeccapurple;
}

.header__main-title {
  text-align: center;
}

.header__text {
  color: $white;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  font-family: Open Sans, Arial;
  margin: 0;
}
