@import "./variables.scss";

.main-nav {
  color: $white;
  text-transform: uppercase;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}


.main-nav__logo-wrapper {
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: $extra-light-black;
  padding-left: 20px;
  padding-right: 20px;

  @include desktop () {
    padding: 0;
  }
}

@media (max-width: $desktop-width) {
  .main-nav__logo-wrapper {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    flex-direction: row;
    align-items: center;
  }
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: $desktop-width) {
  .menu-list {
    flex-direction: row;
  }
}

.menu-list__item {
  background-color: $extra-light-black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 -1px 0 $black, inset 0 1px 0 rgba(255, 255, 255, 0.15);

  &:last-of-type {
    border-bottom: 2px solid $black;
  }
}

@media (min-width: $desktop-width) {
  .menu-list__item {
    margin-right: 78px;
    background-color: transparent;
    box-shadow: none;
    border-bottom: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .menu-list__item:last-of-type {
    border-bottom: none;
    margin-right: 0;
  }
}

.menu-list__link {
  text-decoration: none;
  color: $white;

  @include desktop () {
    text-transform: none;
  }
}

.main-nav__burger-button,
.main-nav__close-button {
  display: none;
}

.main-nav__wrapper {
  @include desktop () {
    margin-left: auto;
  }
}
