.page {
  box-sizing: border-box;
  font-family: "Open Sans", "Arial", sans-serif;
}

.page__body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 20px;

  @include desktop () {
    max-width: 940px;
    margin: 0 auto;
    padding: 0;
  }
}

.button {
  display: block;
  border: 3px solid $white;
  box-sizing: border-box;
  border-radius: 35px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $white;
  width: 280px;

  @include tablets {
    width: 260px;
  }

  @include desktop {
    width: 183px;
  }
}

.button_pink {
  border-color: $pink;
  color: $pink;
}

.button_gray {
  border-color: $extra-light-black;
  color: $extra-light-black;
  opacity: 0.1;
}

*,
::after,
::before {
  box-sizing: inherit;
}
