.slogan-list {
  background-color: $white;
  color: $extra-light-black;
  list-style: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
  padding-top: 46px;
  padding-bottom: 70px;

  @include tablets {
    font-size: 40px;
    line-height: 54px;
    padding-top: 58px;
    padding-bottom: 47px;
  }

  @include desktop {
    margin: 0 auto;
  }
}

.slogan-list_text-style {
  font-size: 14px;
  line-height: 30px;
}

.slogan-list__item {
  text-align: center;
  margin-bottom: 40px;

  @include tablets {
    max-width: 588px;
    margin: 0 auto;
  }

  @include desktop {
    max-width: 700px;
    margin: 0 auto;
  }

  &:last-of-type {
    margin-bottom: 0;

    @include tablets {
      max-width: 400px;
      margin: 0 auto;
    }

    @include desktop {
      max-width: 400px;
      margin: 0 auto;
    }
  }
}

.slogan-list_photo-page {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  padding-bottom: 60px;
}
