@import "./colors.scss";

.slogan-list {
  background-color: $white;
  color: $extra-light-black;
  list-style: none;
  font-family: Open Sans, Arial;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  padding-top: 46px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 70px;
  margin: 0;
}

.slogan-list_text-style {
  font-size: 14px;
  line-height: 30px;
}
