@import "./variables.scss";

.social-band {
  list-style: none;
  color: $extra-light-black;
  font-family: "Open Sans", "Arial", sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.social-band__item {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.social-band__post-wrapper {
  background-color: $grey;
}

.social-band_author {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}

.social-band_post-time {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
}

.social-band_post-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.social-band__like-counter {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $pink;
}

@media (min-width: $tablet-width) {
  .social-band {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .social-band__item:not(:first-of-type) {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .social-band {
    width: 1200px;
  }

  .social-band__item:not(:first-of-type) {
    width: 300px;
  }
}
