@import "./colors.scss";
.social-band {
  list-style: none;
  color: $extra-light-black;
  font-family: Open Sans, Arial;
}

.social-band__post-wrapper {
  background-color: $grey;
}

.social-band_author {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
}

.social-band_post-time {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
}

.social-band_post-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.social-band__like-counter {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $pink;
}
