.social-band {
  list-style: none;
  color: $extra-light-black;
  font-family: "Open Sans", "Arial", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;

  @include tablets {
    width: 620px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 auto;
  }

  @include desktop {
    width: 940px;
  }
}

.social-band__img {
  display: block;
  width: 100%;
}

.social-band__img_stertch {
  max-height: 506px;
  object-fit: cover;

  @include tablets {
    max-height: 509px;
  }

  @include desktop {
    max-height: none;
    min-height: 506px;
  }
}

.social-band__item {
  text-align: center;

  @include tablets {
    max-width: 300px;
  }

  @include desktop {
    margin-bottom: 36px;
  }
}

.social-band__post-wrapper {
  background-color: $grey;
  text-align: left;
  padding-left: 17px;
  padding-bottom: 19px;
  padding-top: 17px;
  padding-right: 10px;
  margin-bottom: 19px;
  color: $extra-light-black;

  @include tablets {
    min-height: 155px;
    padding-left: 30px;
    padding-top: 23px;
    padding-right: 30px;
  }

  @include desktop {
    padding-left: 28px;
  }
}

.social-band__post-wrapper-long {
  background-color: $grey;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 16px;
  padding-top: 18px;
  padding-bottom: 17px;
  color: $extra-light-black;

  @include tablets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
    margin-bottom: 49px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 24px;
    padding-bottom: 13px;
  }

  @include desktop {
    width: 940px;
    padding-left: 29px;
    padding-bottom: 0;
  }
}

.social-band__icon-heart {
  fill: $pink;
}

.social-band__post-wrapper-long .social-band__like-counter {
  @include tablets {
    order: 1;
  }
}

.social-band__post-wrapper-long .social-band_post-text {
  @include tablets {
    order: 2;
  }

  @include desktop {
    margin-bottom: 0;
  }
}


.social-band_author {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  margin-bottom: 14px;
}

.social-band_post-time {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
}

.social-band_post-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 12px;

  @include tablets {
    min-height: 48px;
  }
}

.social-band_post-text br {
  @include tablets {
    display: none;
  }
}

.social-band__like-counter {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $pink;

  @include tablets {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.social-band__like-counter_strech {
  @include tablets {
    display: flex;
    align-items: baseline;
  }
}

.social-band__like-text_strech {
  @include tablets {
    order: -1;
    margin-right: 16px;
  }
}

.social-band__like-text {
  margin-left: 15px;

  @include tablets {
    order: -1;
    margin-left: 0;
  }
}

.photo-element_sretch {
  position: relative;
}

.photo-element_sretch::after {
  position: absolute;
  content: "Панорама дня";
  background-color: $pink;
  color: $white;
  display: flex;
  width: 140px;
  height: 36px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  top: 0;
  right: 20px;

  @include tablets {
    top: 57px;
  }

  @include desktop {
    top: 55px;
    right: 121px;
  }
}

.social-band_space-tablet {
  display: none;

  @include tablets {
    display: inline;
  }

  @include desktop {
    display: none;
  }
}
